.film,
.tv,
.game,
.director {
  display: flex;
  flex-flow: row;
  margin-top: 2em;
  width: 50vw;
}
.details-left,
.details-right {
  margin: 1em;
  display: flex;
  flex-flow: column;
}
.film .film-header,
.tv .tv-header,
.game .game-header,
.director .director-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.film-summary,
.tv .tv-summary,
.game .game-summary,
.director .director-summary {
  margin-top: 2em;
}

.details-left a,
.details-left a:visited {
  color: darkblue;
  text-decoration: none;
}
.details-left a:hover {
  color: rgb(146, 0, 19);
}

.film-poster,
.tv-poster,
.game-poster,
.director-poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}
.film-poster-image,
.tv-poster-image,
.game-poster-image,
.director-poster-image {
  object-fit: contain;
  max-width: 100%;
  min-width: 100%;
}
