.film,
.tv,
.director {
  display: flex;
  flex-flow: row;
  margin-top: 2em;
  width: 50vw;
}
.details-left,
.details-right {
  margin: 1em;
  display: flex;
  flex-flow: column;
}
.film .film-header,
.tv .tv-header,
.director .director-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.film-summary,
.tv .tv-summary {
  margin-top: 2em;
}

.film a,
.film a:visited,
.tv a,
.tv a:visited,
.director a,
.director a:visited {
  color: darkblue;
  text-decoration: none;
}
.film a:hover,
.tv a:hover,
.director a:hover {
  color: rgb(146, 0, 19);
}

.film-poster,
.tv-poster,
.director-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}
.film-poster-image,
.tv-poster-image,
.director-thumbnail-image {
  object-fit: contain;
  max-width: 100%;
  min-width: 100%;
}
