.film {
  display: flex;
  flex-flow: row;
  margin-top: 2em;
  width: 50vw;
}
.film .left,
.film .right {
  margin: 1em;
  display: flex;
  flex-flow: column;
}

.film .film-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.film .film-title {
  margin-right: 0.5em;
}
.film .film-translation {
  font-style: italic;
  margin-right: 0.5em;
}
.film .film-franchise {
  font-style: italic;
}
.film-summary {
  margin-top: 2em;
}

.film a,
.film a:visited {
  color: rgb(41, 91, 218);
  text-decoration: none;
}
.film a:hover {
  color: rgb(146, 0, 19);
}

.film-poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}
.film-poster-image {
  object-fit: contain;
  max-width: 100%;
  min-width: 100%;
}
