.tv {
  display: flex;
  flex-flow: row;
  margin-top: 2em;
  width: 50vw;
}
.tv .left,
.tv .right {
  margin: 1em;
  display: flex;
  flex-flow: column;
}
.tv .tv-title {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.tv .tv-year {
  margin-left: 0.5em;
}
.tv .tv-summary {
  margin-top: 2em;
}

.tv a,
.tv a:visited {
  color: rgb(41, 91, 218);
  text-decoration: none;
}
.tv a:hover {
  color: rgb(146, 0, 19);
}

.tv-poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}
.tv-poster-image {
  object-fit: contain;
  max-width: 100%;
  min-width: 100%;
}
