.timeline {
  width: 80vw;
  display: flex;
  align-items: center;
  flex-flow: column;
}
.timeline-scale-top,
.timeline-scale-bottom {
  width: 80vw;
  position: fixed;
  display: grid;
}
.timeline-scale-top {
  position: fixed;
  top: 3rem;
  padding-top: 2em;
}
.timeline-body {
  width: 100%;
  display: grid;
  /* grid-gap: 0.4rem; */
  padding: 5rem 0 5rem 0;
}
.timeline-scale-bottom {
  position: fixed;
  bottom: 0;
  padding-bottom: 1em;
}

.timeline-box {
  border: 0.1em solid black;
}
.timeline-box,
.timeline-scale-item {
  min-width: calc(80vw / 53);
  max-width: calc(80vw / 53);
}
