.fheader-outer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 0 1em 0 1em;
}
.fheader {
  padding: 0 1.5em 0 1.5em;
  white-space: nowrap;
  font-weight: bold;
  border-radius: 0.7em;
  border: 0.1em solid #ccc;
}
.fheader.no-click {
  border: 0;
}

@media screen and (max-width: 1024px) {
  .fheader-outer:not(.primary) {
    display: none;
  }
}
