.fheader-outer {
  display: flex;
  justify-content: center;
}
.fheader {
  padding: 0 1.5em 0 1.5em;
  font-weight: bold;
  border-radius: 0.7em;
  border: 0.1em solid #ccc;
}
.fheader.no-click {
  border: 0;
}
