.films {
  display: flex;
  justify-content: center;
  width: 80vw;
}
.films-head {
  position: fixed;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding-top: 1em;
  background-color: white;
  z-index: 5;
}
.headers {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 1em 0 1em 0;
  width: 80vw;
  flex: 1;
}
.films-body {
  display: flex;
  flex-flow: column;
  padding-top: 7em;
  flex: 1;
}
.list-items {
  display: flex;
  justify-content: center;
}
.list-items a,
.list-items a:visited {
  color: rgb(41, 91, 218);
  text-decoration: none;
}
.list-items a:hover,
.film-genre .genre-name:hover,
.film-year:hover {
  color: rgb(146, 0, 19);
}
.film-genre .genre-name {
  color: rgb(39, 92, 22);
}
.list-items span {
  text-align: center;
}
.list-items:nth-of-type(odd) {
  background-color: lightgrey;
}
.list-items .film-title {
  width: 30%;
  /* background-color: red; */
}
/* .list-items .film-year {
  background-color: orange;
} */
.list-items .film-director {
  width: 25%;
  /* background-color: yellow; */
}
.list-items .film-genre {
  width: 30%;
  /* background-color: green; */
}
.list-items .film-franchise {
  width: 15%;
  /* background-color: blue; */
}
