.list-items .film-title {
  width: 30%;
  /* background-color: red; */
}
/* .list-items .film-year {
  background-color: orange;
} */
.list-items .film-director {
  width: 25%;
  /* background-color: yellow; */
}
.list-items .film-genre {
  width: 30%;
  /* background-color: green; */
}
.list-items .film-franchise {
  width: 15%;
  /* background-color: blue; */
}
