.stats {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 80vw;
}
.stats-summary {
  display: flex;
  flex-flow: column;
}
.summary-box {
  display: flex;
  flex-flow: row;
}
.summary-box .summary-header {
  margin-right: 0.5rem;
}
.stats-head {
  position: fixed;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding: 1rem 0 1rem 0;
  z-index: 5;
}
.stats-title {
  margin: 0;
}
.stats-body {
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
  padding-top: 3rem;
}
.stats-infobox {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
}
.stats-infobox .canvas-container {
  position: relative;
  width: 35vw;
}
.stats-infobox .canvas-container-large {
  position: relative;
  width: 70vw;
}

@media screen and (max-width: 1024px) {
  .stats-body {
    margin: 1rem;
  }
  .stats-infobox .canvas-container {
    width: 40rem;
  }
  .stats-infobox .canvas-container-large {
    width: 60rem;
  }
}
